/vendor/
/node_modules/
/public/assets/node_modules/
/.env
/.idea/
/.vscode/
/.DS_Store
/.sass-cache/
/npm-debug.log
/yarn-error.log
/.env.*.local
/public/assets/uploads/
writable/cache/*
writable/logs/*
writable/sessions/*
writable/uploads/*
/composer.lock
*.sql
*.sqlite
*.zip
*.tar.gz
/.history
