# CodeIgniter core
/vendor/
 /writable/
 /public/uploads/
 /public/assets/cache/

# Environment & configs
.env
.env.*
!.env.example

# IDE & OS files
.idea/
.vscode/
*.log
.DS_Store
Thumbs.db

# Cache and temp
*.cache
*.tmp
*.swp
*.bak

# Node and build
node_modules/
dist/
build/
